{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "tab",
        "allowWildcardImports": false,
        "indentWidth": 4,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 80
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 80
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "Market/pexels-denisa-lesniakova-17745124.jpg",
        "config": {
          "optimized": true,
          "originalSize": 343641
        }
      },
      {
        "file": "Market/pexels-dico-baskoro-18084433.jpg",
        "config": {
          "optimized": true,
          "originalSize": 284631
        }
      },
      {
        "file": "Market/pexels-fidan-nazim-qizi-11794234.jpg",
        "config": {
          "optimized": true,
          "originalSize": 75021
        }
      },
      {
        "file": "Market/pexels-fira-fatul-18084236.jpg",
        "config": {
          "optimized": true,
          "originalSize": 318432
        }
      },
      {
        "file": "Market/pexels-iren-fedo-18012375.jpg",
        "config": {
          "optimized": true,
          "originalSize": 52987
        }
      },
      {
        "file": "Market/pexels-larissa-farber-17167274.jpg",
        "config": {
          "optimized": true,
          "originalSize": 576358
        }
      },
      {
        "file": "Market/pexels-mael-balland-3098891.jpg",
        "config": {
          "optimized": true,
          "originalSize": 730519
        }
      },
      {
        "file": "Market/pexels-masha-o-18083905.jpg",
        "config": {
          "optimized": true,
          "originalSize": 190711
        }
      },
      {
        "file": "Market/pexels-syed-bazi-rehaman-18082839.jpg",
        "config": {
          "optimized": true,
          "originalSize": 193231
        }
      },
      {
        "file": "Market/pexels-till-daling-13257774.jpg",
        "config": {
          "optimized": true,
          "originalSize": 176004
        }
      },
      {
        "file": "Market/pexels-tom-verdoot-12825145.jpg",
        "config": {
          "optimized": true,
          "originalSize": 326278
        }
      },
      {
        "file": "about-us.jpg",
        "config": {
          "optimized": true,
          "originalSize": 531672
        }
      },
      {
        "file": "ads/ads-1.png",
        "config": {
          "optimized": true,
          "originalSize": 354
        }
      },
      {
        "file": "ads/ads-2.png",
        "config": {
          "optimized": true,
          "originalSize": 375
        }
      },
      {
        "file": "article01.jpg",
        "config": {
          "optimized": true,
          "originalSize": 204499
        }
      },
      {
        "file": "article02.jpg",
        "config": {
          "optimized": true,
          "originalSize": 131553
        }
      },
      {
        "file": "arts/pexels-antonio-dillard-4462781.jpg",
        "config": {
          "optimized": true,
          "originalSize": 72178
        }
      },
      {
        "file": "arts/pexels-brett-sayles-6424244.jpg",
        "config": {
          "optimized": true,
          "originalSize": 154060
        }
      },
      {
        "file": "arts/pexels-lisa-fotios-5808388.jpg",
        "config": {
          "optimized": true,
          "originalSize": 77720
        }
      },
      {
        "file": "arts/pexels-pixabay-302100.jpg",
        "config": {
          "optimized": true,
          "originalSize": 96918
        }
      },
      {
        "file": "arts/pexels-pixabay-356966.jpg",
        "config": {
          "optimized": true,
          "originalSize": 217856
        }
      },
      {
        "file": "arts/pexels-rfstudio-3819794.jpg",
        "config": {
          "optimized": true,
          "originalSize": 53114
        }
      },
      {
        "file": "arts/pexels-valeriy-ryasnyanskiy-3840191.jpg",
        "config": {
          "optimized": true,
          "originalSize": 32669
        }
      },
      {
        "file": "bussiness/pexels-andrea-piacquadio-2672979.jpg",
        "config": {
          "optimized": true,
          "originalSize": 129149
        }
      },
      {
        "file": "bussiness/pexels-dsd-1822608.jpg",
        "config": {
          "optimized": true,
          "originalSize": 102475
        }
      },
      {
        "file": "bussiness/pexels-karolina-grabowska-5882707.jpg",
        "config": {
          "optimized": true,
          "originalSize": 92253
        }
      },
      {
        "file": "bussiness/pexels-lil-artsy-1925536.jpg",
        "config": {
          "optimized": true,
          "originalSize": 61054
        }
      },
      {
        "file": "bussiness/pexels-luis-quintero-2833037.jpg",
        "config": {
          "optimized": true,
          "originalSize": 81977
        }
      },
      {
        "file": "bussiness/pexels-mark-dalton-439818.jpg",
        "config": {
          "optimized": true,
          "originalSize": 235581
        }
      },
      {
        "file": "bussiness/pexels-pixabay-416405.jpg",
        "config": {
          "optimized": true,
          "originalSize": 160312
        }
      },
      {
        "file": "contributors/avt-1.png",
        "config": {
          "optimized": true,
          "originalSize": 35748
        }
      },
      {
        "file": "contributors/avt-2.png",
        "config": {
          "optimized": true,
          "originalSize": 35186
        }
      },
      {
        "file": "contributors/avt-3.png",
        "config": {
          "optimized": true,
          "originalSize": 30270
        }
      },
      {
        "file": "contributors/avt-4.png",
        "config": {
          "optimized": true,
          "originalSize": 30785
        }
      },
      {
        "file": "contributors/avt-5.png",
        "config": {
          "optimized": true,
          "originalSize": 31774
        }
      },
      {
        "file": "economics/pexels-arianna-jade-4006576.jpg",
        "config": {
          "optimized": true,
          "originalSize": 69369
        }
      },
      {
        "file": "economics/pexels-august-de-richelieu-4427627.jpg",
        "config": {
          "optimized": true,
          "originalSize": 78359
        }
      },
      {
        "file": "economics/pexels-bruno-scramgnon-315658.jpg",
        "config": {
          "optimized": true,
          "originalSize": 125164
        }
      },
      {
        "file": "economics/pexels-cottonbro-studio-4669102.jpg",
        "config": {
          "optimized": true,
          "originalSize": 510134
        }
      },
      {
        "file": "economics/pexels-davi-pimentel-2064826.jpg",
        "config": {
          "optimized": true,
          "originalSize": 105765
        }
      },
      {
        "file": "economics/pexels-edgardo-andrade-17843289.jpg",
        "config": {
          "optimized": true,
          "originalSize": 89263
        }
      },
      {
        "file": "economics/pexels-element-digital-1550340.jpg",
        "config": {
          "optimized": true,
          "originalSize": 81470
        }
      },
      {
        "file": "economics/pexels-fernando-serrano-17935141.jpg",
        "config": {
          "optimized": true,
          "originalSize": 51935
        }
      },
      {
        "file": "economics/pexels-gilmer-diaz-estela-16055440.jpg",
        "config": {
          "optimized": true,
          "originalSize": 85975
        }
      },
      {
        "file": "economics/pexels-gmb-visuals-17883952.jpg",
        "config": {
          "optimized": true,
          "originalSize": 121043
        }
      },
      {
        "file": "economics/pexels-gustavo-fring-4148984.jpg",
        "config": {
          "optimized": true,
          "originalSize": 136002
        }
      },
      {
        "file": "economics/pexels-jakub-17865267.jpg",
        "config": {
          "optimized": true,
          "originalSize": 95411
        }
      },
      {
        "file": "economics/pexels-jan-van-der-wolf-10563910.jpg",
        "config": {
          "optimized": true,
          "originalSize": 86867
        }
      },
      {
        "file": "economics/pexels-jonathan-borba-17891258.jpg",
        "config": {
          "optimized": true,
          "originalSize": 52669
        }
      },
      {
        "file": "economics/pexels-kampus-production-8353790.jpg",
        "config": {
          "optimized": true,
          "originalSize": 67376
        }
      },
      {
        "file": "economics/pexels-meyrkhan-begentaev-17886017.jpg",
        "config": {
          "optimized": true,
          "originalSize": 54038
        }
      },
      {
        "file": "economics/pexels-pixabay-256514.jpg",
        "config": {
          "optimized": true,
          "originalSize": 114105
        }
      },
      {
        "file": "economics/pexels-ricardo-oliveira-17888762.jpg",
        "config": {
          "optimized": true,
          "originalSize": 85612
        }
      },
      {
        "file": "economics/pexels-romina-ordonez-1586034.jpg",
        "config": {
          "optimized": true,
          "originalSize": 156234
        }
      },
      {
        "file": "economics/pexels-rosemary-ketchum-1464196.jpg",
        "config": {
          "optimized": true,
          "originalSize": 98325
        }
      },
      {
        "file": "economics/pexels-rosemary-ketchum-1464223.jpg",
        "config": {
          "optimized": true,
          "originalSize": 139383
        }
      },
      {
        "file": "economics/pexels-salvatore-de-lellis-9683980.jpg",
        "config": {
          "optimized": true,
          "originalSize": 367377
        }
      },
      {
        "file": "economics/pexels-sami-abdullah-17892956.jpg",
        "config": {
          "optimized": true,
          "originalSize": 71001
        }
      },
      {
        "file": "economics/pexels-sora-shimazaki-5926225.jpg",
        "config": {
          "optimized": true,
          "originalSize": 918074
        }
      },
      {
        "file": "economics/pexels-startup-stock-photos-212286.jpg",
        "config": {
          "optimized": true,
          "originalSize": 127632
        }
      },
      {
        "file": "economics/pexels-tara-winstead-8850825.jpg",
        "config": {
          "optimized": true,
          "originalSize": 599819
        }
      },
      {
        "file": "economics/pexels-thisisengineering-3861437.jpg",
        "config": {
          "optimized": true,
          "originalSize": 53275
        }
      },
      {
        "file": "economics/pexels-thisisengineering-3912469.jpg",
        "config": {
          "optimized": true,
          "originalSize": 70014
        }
      },
      {
        "file": "economics/pexels-thisisengineering-3913031.jpg",
        "config": {
          "optimized": true,
          "originalSize": 57880
        }
      },
      {
        "file": "economics/pexels-zehra-karadeniz-17918454.jpg",
        "config": {
          "optimized": true,
          "originalSize": 60768
        }
      },
      {
        "file": "economics/pexels-zeynep-m-17890747.jpg",
        "config": {
          "optimized": true,
          "originalSize": 131308
        }
      },
      {
        "file": "flogo.png",
        "config": {
          "optimized": true,
          "originalSize": 3929
        }
      },
      {
        "file": "logo.png",
        "config": {
          "optimized": true,
          "originalSize": 3908
        }
      },
      {
        "file": "market/pexels-denisa-lesniakova-17745124.jpg",
        "config": {
          "optimized": true,
          "originalSize": 342873
        }
      },
      {
        "file": "market/pexels-dico-baskoro-18084433.jpg",
        "config": {
          "optimized": true,
          "originalSize": 284425
        }
      },
      {
        "file": "market/pexels-fidan-nazim-qizi-11794234.jpg",
        "config": {
          "optimized": true,
          "originalSize": 74943
        }
      },
      {
        "file": "market/pexels-fira-fatul-18084236.jpg",
        "config": {
          "optimized": true,
          "originalSize": 318055
        }
      },
      {
        "file": "market/pexels-syed-bazi-rehaman-18082839.jpg",
        "config": {
          "optimized": true,
          "originalSize": 192998
        }
      },
      {
        "file": "market/pexels-till-daling-13257774.jpg",
        "config": {
          "optimized": true,
          "originalSize": 175904
        }
      },
      {
        "file": "market/pexels-tom-verdoot-12825145.jpg",
        "config": {
          "optimized": true,
          "originalSize": 326206
        }
      },
      {
        "file": "our-offices-01.jpg",
        "config": {
          "optimized": true,
          "originalSize": 389216
        }
      },
      {
        "file": "our-offices-02.jpg",
        "config": {
          "optimized": true,
          "originalSize": 41156
        }
      },
      {
        "file": "person/pexels-anastasiya-gepp-1462637.jpg",
        "config": {
          "optimized": true,
          "originalSize": 9587
        }
      },
      {
        "file": "person/pexels-athena-1758144.jpg",
        "config": {
          "optimized": true,
          "originalSize": 72939
        }
      },
      {
        "file": "person/pexels-beyzaa-yurtkuran-18132345.jpg",
        "config": {
          "optimized": true,
          "originalSize": 109539
        }
      },
      {
        "file": "person/pexels-chloe-1043474.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11404
        }
      },
      {
        "file": "person/pexels-christian-diokno-3841338.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11650
        }
      },
      {
        "file": "person/pexels-christina-morillo-1181686.jpg",
        "config": {
          "optimized": true,
          "originalSize": 10746
        }
      },
      {
        "file": "person/pexels-clara-ngo-3866555.jpg",
        "config": {
          "optimized": true,
          "originalSize": 61882
        }
      },
      {
        "file": "person/pexels-clem-onojeghuo-375880.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11371
        }
      },
      {
        "file": "person/pexels-cottonbro-studio-5998822.jpg",
        "config": {
          "optimized": true,
          "originalSize": 562445
        }
      },
      {
        "file": "person/pexels-cottonbro-studio-5998828.jpg",
        "config": {
          "optimized": true,
          "originalSize": 605613
        }
      },
      {
        "file": "person/pexels-denner-trindade-17822820.jpg",
        "config": {
          "optimized": true,
          "originalSize": 76886
        }
      },
      {
        "file": "person/pexels-ezekixl-oluwatobi-akinnewu-1820934.jpg",
        "config": {
          "optimized": true,
          "originalSize": 9116
        }
      },
      {
        "file": "person/pexels-frederick-adegoke-snr-18392271.jpg",
        "config": {
          "optimized": true,
          "originalSize": 481580
        }
      },
      {
        "file": "person/pexels-funda-verep-18138596.jpg",
        "config": {
          "optimized": true,
          "originalSize": 87704
        }
      },
      {
        "file": "person/pexels-godisable-jacob-871495.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11379
        }
      },
      {
        "file": "person/pexels-guilherme-almeida-1858175.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11652
        }
      },
      {
        "file": "person/pexels-hugo-fuentes-5794641.jpg",
        "config": {
          "optimized": true,
          "originalSize": 637438
        }
      },
      {
        "file": "person/pexels-ike-louie-natividad-3310693.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11073
        }
      },
      {
        "file": "person/pexels-iqbal-farooz-15745725.jpg",
        "config": {
          "optimized": true,
          "originalSize": 259975
        }
      },
      {
        "file": "person/pexels-ivan-samkov-4238516.jpg",
        "config": {
          "optimized": true,
          "originalSize": 711190
        }
      },
      {
        "file": "person/pexels-julia-avamotive-1034859.jpg",
        "config": {
          "optimized": true,
          "originalSize": 8745
        }
      },
      {
        "file": "person/pexels-kaboompics-com-6335.jpg",
        "config": {
          "optimized": true,
          "originalSize": 425069
        }
      },
      {
        "file": "person/pexels-life-matters-4613888.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1270202
        }
      },
      {
        "file": "person/pexels-makinginfinity-18075209.jpg",
        "config": {
          "optimized": true,
          "originalSize": 108206
        }
      },
      {
        "file": "person/pexels-markus-spiske-3806756.jpg",
        "config": {
          "optimized": true,
          "originalSize": 603468
        }
      },
      {
        "file": "person/pexels-martin-alvarez-mullally-18134199.jpg",
        "config": {
          "optimized": true,
          "originalSize": 107566
        }
      },
      {
        "file": "person/pexels-moose-photos-1587009.jpg",
        "config": {
          "optimized": true,
          "originalSize": 59040
        }
      },
      {
        "file": "person/pexels-rdne-stock-project-6257694.jpg",
        "config": {
          "optimized": true,
          "originalSize": 558070
        }
      },
      {
        "file": "person/pexels-rdne-stock-project-6257832.jpg",
        "config": {
          "optimized": true,
          "originalSize": 422992
        }
      },
      {
        "file": "person/pexels-rdne-stock-project-6257842.jpg",
        "config": {
          "optimized": true,
          "originalSize": 597450
        }
      },
      {
        "file": "person/pexels-rdne-stock-project-6257844.jpg",
        "config": {
          "optimized": true,
          "originalSize": 465232
        }
      },
      {
        "file": "person/pexels-spencer-selover-428333.jpg",
        "config": {
          "optimized": true,
          "originalSize": 7939
        }
      },
      {
        "file": "person/pexels-spencer-selover-775358.jpg",
        "config": {
          "optimized": true,
          "originalSize": 10317
        }
      },
      {
        "file": "person/pexels-tofunmi-8252734.jpg",
        "config": {
          "optimized": true,
          "originalSize": 473297
        }
      },
      {
        "file": "person/pexels-vinicius-wiesehofer-1090387.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11477
        }
      },
      {
        "file": "person/pexels-volkan-erdek-11219740.jpg",
        "config": {
          "optimized": true,
          "originalSize": 921946
        }
      },
      {
        "file": "person\\pexels-martín-álvarez-mullally-18134199.jpg",
        "config": {
          "optimized": true,
          "originalSize": 108346
        }
      },
      {
        "file": "pexels-chris-schippers-421927.jpg",
        "config": {
          "optimized": true,
          "originalSize": 86697
        }
      },
      {
        "file": "pexels-cottonbro-studio-5998828.jpg",
        "config": {
          "optimized": true,
          "originalSize": 101648
        }
      },
      {
        "file": "pexels-leeloo-thefirst-7598018.jpg",
        "config": {
          "optimized": true,
          "originalSize": 135203
        }
      },
      {
        "file": "pexels-thanhhoa-tran-1582977.jpg",
        "config": {
          "optimized": true,
          "originalSize": 196308
        }
      },
      {
        "file": "politics/pexels-aaron-kittredge-129112.jpg",
        "config": {
          "optimized": true,
          "originalSize": 185610
        }
      },
      {
        "file": "politics/pexels-albin-berlin-906982.jpg",
        "config": {
          "optimized": true,
          "originalSize": 174581
        }
      },
      {
        "file": "politics/pexels-alena-shekhovtcova-8067882.jpg",
        "config": {
          "optimized": true,
          "originalSize": 127655
        }
      },
      {
        "file": "politics/pexels-anna-keibalo-17706648.jpg",
        "config": {
          "optimized": true,
          "originalSize": 74501
        }
      },
      {
        "file": "politics/pexels-ketut-subiyanto-4247766.jpg",
        "config": {
          "optimized": true,
          "originalSize": 67764
        }
      },
      {
        "file": "politics/pexels-ketut-subiyanto-4623506.jpg",
        "config": {
          "optimized": true,
          "originalSize": 100628
        }
      },
      {
        "file": "politics/pexels-mathias-reding-11421286.jpg",
        "config": {
          "optimized": true,
          "originalSize": 627638
        }
      },
      {
        "file": "politics/pexels-matti-karstedt-11284549.jpg",
        "config": {
          "optimized": true,
          "originalSize": 732165
        }
      },
      {
        "file": "politics/pexels-nati-11332251.jpg",
        "config": {
          "optimized": true,
          "originalSize": 459625
        }
      },
      {
        "file": "politics/pexels-porapak-apichodilok-346885.jpg",
        "config": {
          "optimized": true,
          "originalSize": 58331
        }
      }
    ]
  }
}
